[project]
name = "simpl2"
version = "0.1.0"
requires-python = ">=3.11"

[tool.black]
line-length = 100
target-version = ['py314']
include = '\.pyi?$'
extend-exclude = '''
/(
  \.venv
  | \.git
  | \.pytest_cache
)/
'''